 ------
 Usage
 ------
 James R. Perkins
 ------
 2011-07-19
 ------

  ~~ JBoss, Home of Professional Open Source.
  ~~ Copyright 2011, Red Hat, Inc., and individual contributors
  ~~ as indicated by the @author tags. See the copyright.txt file in the
  ~~ distribution for a full listing of individual contributors.
  ~~
  ~~ This is free software; you can redistribute it and/or modify it
  ~~ under the terms of the GNU Lesser General Public License as
  ~~ published by the Free Software Foundation; either version 2.1 of
  ~~ the License, or (at your option) any later version.
  ~~
  ~~ This software is distributed in the hope that it will be useful,
  ~~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~~ Lesser General Public License for more details.
  ~~
  ~~ You should have received a copy of the GNU Lesser General Public
  ~~ License along with this software; if not, write to the Free
  ~~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.

Usage

  The ${project.name} is generally used to deploy applications or application artifacts to a running JBoss Application
  Server. Each goal can be explicitly executed from the command line or specified in the execution portion of the plugin
  in the POM file.

* The <<<jboss-as:add-resource>>> Goal

  The <<<jboss-as:add-resource>>> goal adds a resource to the running JBoss Application Server.

  For example to add a resource you type the following on the command line:

+-----+
mvn jboss-as:add-resource
+-----+

* The <<<jboss-as:deploy>>> Goal

  The <<<jboss-as:deploy>>> goal deploys the application to the running JBoss Application Server.

  For example to deploy, or redeploy by default, you type the following on the command line:

+-----+
mvn jboss-as:deploy
+-----+

* The <<<jboss-as:deploy-artifact>>> Goal

  The <<<jboss-as:deploy-artifact>>> goal deploys an arbitrary artifact to the running JBoss Application Server.

  For example to deploy the arbitrary artifact specified in you POM, you type the following on the command line:

+-----+
mvn jboss-as:deploy-artifact
+-----+

* The <<<jboss-as:redeploy>>> Goal

  The <<<jboss-as:redeploy>>> goal will redeploy your application if and only if the application has already been
  deployed to the application server.

  To execute the redeploy goal type the following on the command line:

+-----+
mvn jboss-as:redeploy
+-----+

* The <<<jboss-as:undeploy>>> Goal

  The <<<jboss-as:undeploy>>> goal will undeploy your application from the from the running application server if the
  application has already been deployed.

  To execute the undeploy goal type the following on the command line:

+-----+
mvn jboss-as:undeploy
+-----+

* The <<<jboss-as:run>>> Goal

  The <<<jboss-as:run>>> goal will run JBoss Application Server and deploy your application. If the <<<jboss-as.home>>>
  property is not set, the server will be downloaded.

  To execute the run goal type the following on the command line:

+-----+
mvn jboss-as:run
+-----+

* The <<<jboss-as:start>>> Goal

  The <<<jboss-as:start>>> goal will start a JBoss Application Server. If the <<<jboss-as.home>>> property is not set,
  the server will be downloaded. The server will be shutdown when the maven process ends unless an explicit shutdown was
  invoked.

  To execute the start goal type the following on the command line:

+-----+
mvn jboss-as:start
+-----+

* The <<<jboss-as:shutdown>>> Goal

  The <<<jboss-as:shutdown>>> goal will shutdown a running JBoss Application Server.

  To execute the shutdown goal type the following on the command line:

+-----+
mvn jboss-as:shutdown
+-----+

* The <<<jboss-as:execute-commands>>> Goal

  The <<<jboss-as:execute-commands>>> goal will execute commands, formatted like CLI commands, on the running server.

  To execute the execute-commands goal type the following on the command line:

+-----+
mvn jboss-as:execute-commands
+-----+