 ------
 Usage
 ------
 James R. Perkins
 ------
 2011-07-19
 ------

  ~~ JBoss, Home of Professional Open Source.
  ~~ Copyright 2011, Red Hat, Inc., and individual contributors
  ~~ as indicated by the @author tags. See the copyright.txt file in the
  ~~ distribution for a full listing of individual contributors.
  ~~
  ~~ This is free software; you can redistribute it and/or modify it
  ~~ under the terms of the GNU Lesser General Public License as
  ~~ published by the Free Software Foundation; either version 2.1 of
  ~~ the License, or (at your option) any later version.
  ~~
  ~~ This software is distributed in the hope that it will be useful,
  ~~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~~ Lesser General Public License for more details.
  ~~
  ~~ You should have received a copy of the GNU Lesser General Public
  ~~ License along with this software; if not, write to the Free
  ~~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.

Usage

  The ${project.name} is generally used to deploy applications or application artifacts to a running ${appServerName} Application
  Server. Each goal can be explicitly executed from the command line or specified in the execution portion of the plugin
  in the POM file.

* The <<<${pluginPrefix}:add-resource>>> Goal

  The <<<${pluginPrefix}:add-resource>>> goal adds a resource to the running ${appServerName} Application Server.

  For example to add a resource you type the following on the command line:

+-----+
mvn ${pluginPrefix}:add-resource
+-----+

* The <<<${pluginPrefix}:deploy>>> Goal

  The <<<${pluginPrefix}:deploy>>> goal deploys the application to the running ${appServerName} Application Server.

  For example to deploy, or redeploy by default, you type the following on the command line:

+-----+
mvn ${pluginPrefix}:deploy
+-----+

* The <<<${pluginPrefix}:deploy-only>>> Goal

  The <<<${pluginPrefix}:deploy-only>>> goal deploys the application to the running ${appServerName}  without executing
  any other goals by default.

  For example to deploy, or redeploy by default, you type the following on the command line:

+-----+
mvn ${pluginPrefix}:deploy-only
+-----+

* The <<<${pluginPrefix}:deploy-artifact>>> Goal

  The <<<${pluginPrefix}:deploy-artifact>>> goal deploys an arbitrary artifact to the running ${appServerName}.

  For example to deploy the arbitrary artifact specified in you POM, you type the following on the command line:

+-----+
mvn ${pluginPrefix}:deploy-artifact
+-----+

* The <<<${pluginPrefix}:redeploy>>> Goal

  The <<<${pluginPrefix}:redeploy>>> goal will redeploy your application if and only if the application has already been
  deployed to the application server.

  To execute the redeploy goal type the following on the command line:

+-----+
mvn ${pluginPrefix}:redeploy
+-----+

* The <<<${pluginPrefix}:redeploy-only>>> Goal

  The <<<${pluginPrefix}:redeploy-only>>> goal will redeploy your application if and only if the application has already been
  deployed to the application server. By default no other goals are invoked.

  To execute the redeploy goal type the following on the command line:

+-----+
mvn ${pluginPrefix}:redeploy-only
+-----+

* The <<<${pluginPrefix}:undeploy>>> Goal

  The <<<${pluginPrefix}:undeploy>>> goal will undeploy your application from the from the running application server if the
  application has already been deployed.

  To execute the undeploy goal type the following on the command line:

+-----+
mvn ${pluginPrefix}:undeploy
+-----+

* The <<<${pluginPrefix}:run>>> Goal

  The <<<${pluginPrefix}:run>>> goal will run ${appServerName}  and deploy your application. If the <<<${pluginPrefix}.home>>>
  property is not set, the server will be downloaded.

  To execute the run goal type the following on the command line:

+-----+
mvn ${pluginPrefix}:run
+-----+

* The <<<${pluginPrefix}:start>>> Goal

  The <<<${pluginPrefix}:start>>> goal will start a ${appServerName}. If the <<<${pluginPrefix}.home>>> property is not set,
  the server will be downloaded. The server will continue to run until the shutdown goal is executed, a shutdown management
  operation has been issued or the process is killed.

  To execute the start goal type the following on the command line:

+-----+
mvn ${pluginPrefix}:start
+-----+

* The <<<${pluginPrefix}:shutdown>>> Goal

  The <<<${pluginPrefix}:shutdown>>> goal will shutdown a running ${appServerName}.

  To execute the shutdown goal type the following on the command line:

+-----+
mvn ${pluginPrefix}:shutdown
+-----+

* The <<<${pluginPrefix}:execute-commands>>> Goal

  The <<<${pluginPrefix}:execute-commands>>> goal will execute commands, formatted like CLI commands, on the running server.

  To execute the execute-commands goal type the following on the command line:

+-----+
mvn ${pluginPrefix}:execute-commands
+-----+