# This workflow is for a nightly run against WildFly upstream

name: WildFly Test Build

on:
  push:
    branches:
      - 'main'
    paths:
      - '.github/workflows/wildfly-build.yml'
      - 'core/**'
      - 'plugin/**'
      - 'tests/**'
      - '**/pom.xml'
  pull_request:
    branches:
      - '**'
    paths:
      - '.github/workflows/wildfly-build.yml'
      - 'core/**'
      - 'plugin/**'
      - 'tests/**'
      - '**/pom.xml'
  schedule:
    - cron: '0 0 * * *' # Every day at 00:00 UTC

# Only run the latest job and cancel previous ones
concurrency:
  group: '${{ github.ref || github.run_id }}'
  cancel-in-progress: true

jobs:

  wildfly-maven-plugin-build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        java: ['17', '21', '25']

    steps:
      - uses: actions/checkout@v6
      - uses: wildfly-extras/wildfly-nightly-download@v1
        id: wildfly-nightly
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
          cache: 'maven'
      - name: Build with Maven Java ${{ matrix.java }}
        run: mvn clean install '-Dorg.jboss.logmanager.nocolor=true' '-Dversion.org.wildfly=${{steps.wildfly-nightly.outputs.wildfly-version}}'
      - name: Upload surefire reports
        uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: surefire-reports-${{ matrix.os }}-${{ matrix.java }}
          path: '**/surefire-reports/*'
      - name: Upload server logs
        uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: server-logs-${{ matrix.os }}-${{ matrix.java }}
          path: '**/*.log'
