# This workflow is for a nightly run against WildFly upstream

name: WildFly Test Build

on:
  push:
    branches:
      - 'main'
    paths:
      - '.github/workflows/wildfly-build.yml'
      - 'core/**'
      - 'plugin/**'
      - 'tests/**'
      - '**/pom.xml'
  pull_request:
    paths:
      - '.github/workflows/wildfly-build.yml'
      - 'core/**'
      - 'plugin/**'
      - 'tests/**'
      - '**/pom.xml'
  schedule:
    - cron: '0 0 * * *' # Every day at 00:00 UTC

# Only run the latest job and cancel previous ones
concurrency:
  group: '${{ github.ref || github.run_id }}'
  cancel-in-progress: true

env:
  MVN_CMD: './mvnw -V -B'

jobs:

  wildfly-maven-plugin-build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v6
      - uses: wildfly-extras/wildfly-nightly-download@v1
        id: wildfly-nightly
      - name: Set up JDKs
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          cache: 'maven'
          # Please note the order here of having 25 last as that is the version we want to compile with
          java-version: |
            17
            21
            26-ea
            25
      - name: Build and Test on ${{ matrix.os }} - Java 25
        run: ${{ env.MVN_CMD }} clean install
      - name: Build and Test on ${{ matrix.os }} - Java 26-ea
        run: ${{ env.MVN_CMD }} verify '-Dtest.java.home=${{env.JAVA_HOME_26_X64}}${{env.JAVA_HOME_26_ARM64}}' '-Dversion.org.wildfly=${{steps.wildfly-nightly.outputs.wildfly-version}}' '-Dsurefire.reportsDirectory=target/surefire-reports-java26'
      - name: Build and Test on ${{ matrix.os }} - Java 21
        run: ${{ env.MVN_CMD }} verify '-Dtest.java.home=${{env.JAVA_HOME_21_X64}}${{env.JAVA_HOME_21_ARM64}}' '-Dversion.org.wildfly=${{steps.wildfly-nightly.outputs.wildfly-version}}' '-Dsurefire.reportsDirectory=target/surefire-reports-java21'
      - name: Build and Test on ${{ matrix.os }} - Java 17
        run: ${{ env.MVN_CMD }} verify '-Dtest.java.home=${{env.JAVA_HOME_17_X64}}${{env.JAVA_HOME_17_ARM64}}' '-Dversion.org.wildfly=${{steps.wildfly-nightly.outputs.wildfly-version}}' '-Dsurefire.reportsDirectory=target/surefire-reports-java17'
      - name: Upload test logs for failed run
        uses: actions/upload-artifact@v7
        if: failure()
        with:
          name: failure-report-${{ matrix.os }}
          path: |
            **/surefire-reports*/**
            **/*.log
